<!DOCTYPE html>
<html>
  <head>
    <title>Star Rating Widget</title>
    <style>
      .stars {
        display: inline-block;
        font-size: 0;
        cursor: pointer;
      }

      .stars input[type="radio"] {
        display: none;
      }

      .stars label {
        display: inline-block;
        font-size: 24px;
        padding: 5px;
        margin: 0;
        cursor: pointer;
        color: #ccc;
      }

      .stars label:before {
        content: '\2605';
      }

      .stars input[type="radio"]:checked ~ label {
        color: #ffd700;
      }
    </style>
  </head>
  <body>
    <form>
      <fieldset class="stars">
        <input type="radio" id="star5" name="rating" value="5" />
        <label for="star5" title="5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" />
        <label for="star4" title="4 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" />
        <label for="star3" title="3 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" />
        <label for="star2" title="2 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" />
        <label for="star1" title="1 star"></label>
      </fieldset>
    </form>
  </body>
</html>
